.container_livro {
    display: flex;
    flex-wrap: wrap;
    margin-top: 110px;
    height: auto;
}

.compra_titulo{
    position: relative;
    right: 43%;
    font-family: Montserrat;
}

.book-image {
    width: 500px;
    height: auto;
    position: relative;
    left: 150px;
}

.container_infos {
    font-family: Montserrat;
    padding: 20px; 
    border-radius: 5px;
    width: 700px;
    height: auto;
    position: relative;
    left: 200px;
}

.texto_autor{
    margin-right: 825px;
    font-family: Montserrat;

}

.book_titulo{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    margin-right: 855px;
}

.texto-justificado {
    text-align: justify;
    font-family: Montserrat;
}

.txt_quantidade{
    font-family: Montserrat;
}

.estoque{
    color:olivedrab;
    font-family: Montserrat;
    font-weight: bold;
    text-decoration: underline;
}

.paginas{
    margin-right: 887px;
    font-family: Montserrat;
}
  .book_preco{
    color: #125ab5;;
  }



  .container_avaliables{
    font-family: Montserrat;
    padding: 20px; 
    border-radius: 5px;
    width: 1000px;
    height: auto;
    position: relative;
    top: 20px;
    left: 150px;
    display: flex;
    justify-content: center;
  }

  .infos_avaliables{
    font-family: Montserrat;
    background-color: lightgray; 
    border: 1px solid #bbb;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 30px; 
    margin-top: 80px;
    list-style-type: none;
    text-align: left;

  }
  
  .title_name{
    font-size: large;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .description{
    display: flex;
    flex-direction:column;
    justify-content: center;
  }
  .avaliaçoes{
    position: absolute;
    top: auto;
    left: 0px;
  }

  .buttons_compra {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    font-family: Montserrat;
    justify-content: center;
  }
  
  .btn_comprar {
    font-family: Montserrat;
    font-weight: bold;
    background-color: tomato;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-left: 20px; 
    width: 250px;
    height: 50px;
  }

  .btn-cart{
    font-family: Montserrat;
    transition: transform 0.3s ease;
    font-weight: bold;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin-right: 10px; 
    width: 250px;
    height: 50px;
  }

  .btn_comprar:last-child {
    margin-right: 0; 
  }
  .btn-cart:hover {
    transform: scale(1.1);
  }
  .btn_comprar:hover {
    transform: scale(1.1);
  }
  