.input-error {
    border: 1px solid red; /* Estilo para borda vermelha */
}

.form-email-recovery {
    font-family: Montserrat;
    font-weight: bold;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 500px;
    height: 400px;
    background-color: white;
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid darkgray; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%); 
}

.form-header {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-right: 10px;
}


.form-email-recovery button{ 
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.form-email-recovery button:hover{
    transform: scale(1.1);
}