.checkBoxContainer {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center; /* Alinha os itens horizontalmente no centro */
    flex-wrap: nowrap; /* Impede que os itens quebrem para a próxima linha */
}

.checkBoxContainer .item {
    display: inline-block;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 20px;
}
.btn_autor,
.btn_nome,
.btn_paginas,
.btn_preco{
    background-color: transparent;
    color: black;
    width: auto;
    font-family: Montserrat;
    font-size: 20px;
    text-align: left; 
    cursor: pointer;
    position: relative;
    top: 20px;

}