
.login_button,
.register_button {
  font-family: Montserrat;
  width: 100px;
  height: 39px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0px;
  transition: transform 0.3s ease;
  margin-right: 30px;
}

.welcome{
  color: whitesmoke;
}

.btns_logins{
  position: relative;
  flex-direction: row;
  right: 250px;
}

.txt-welcome{
  position: relative;
  right: 250px;
}

.icon_buttons{
  position: relative;
  top: -45px;
}
.title_store {
  position: absolute; 
  color: #E6E6E6;
  left: 50px; 
}

.login_button:hover,
.register_button:hover,
.perfil_button:hover {
  transform: scale(1.1);
}

.livrinho{
  margin-left: -600px;
}
.cart-icon{
  width: auto;
  height: auto;
}

.icon-user{
  width: auto;
  height: auto;
}

.perfil_button{
  background-color: transparent;
  cursor: pointer;
}
.cart_button{
  background-color: transparent;
  cursor: pointer;

}